@media (max-width: 600px) {
  .footerPkm {
    height: auto;
    padding: 8px 0;
  }

  .companyFontBig {
    font-size: 16px;
  }
}

@media (max-width: 500px){
    .headerPkm {
        flex-direction: column;
    }
}