
* {
  font-family: "Comic_Relief", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mainFont {
  font-style: italic;
}

.mainDirection {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
:root {
  --primary-color: rgb(15, 35, 45, 1);
  --secondary-color: rgb(9, 24, 32, 1);
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.grass {
  background-color: #7AC74C;
}

.electric {
  background-color: #F7D02C;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}

.normal {
  background-color: blueviolet;
}

.displayFlex{
  display: flex;
}

.displayNone {
  display: none;
}
