:root {
  --primary-color: rgb(15, 35, 45, 1);
  --secondary-color: rgb(9, 24, 32, 1);
}

.primary {
  color: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  font-family: "Comic_Relief", sans-serif;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contentLimiter {
  max-width: 1200px;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
}